.highlight {
  /* background-color: rgba(4, 38, 74, 0.5) !important; */
}
.over {
  /* background-color: rgba(46, 204, 113, 1) !important;
  color: #f2f2f2 !important;
  transition: 400ms !important; */
}

.is-dragging {
    transform: rotate(-5deg) !important;
    z-index: 1000px;
    overflow: hidden;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2) !important;
    scale: 2 !important;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(30deg);
  }
}
